asn1crypto==0.22.0
beautifulsoup4==4.6.0
certifi==2017.4.17
cffi==1.10.0
chardet==3.0.4
click==6.7
cryptography==1.9
decorator==4.0.11
Flask==0.12.2
Flask-Cors==3.0.3
future==0.16.0
idna==2.5
isodate==0.5.4
itsdangerous==0.24
Jinja2==2.9.6
lxml==4.6.3
MarkupSafe==1.0
Paste==2.0.3
pkgconfig==1.2.2
pycparser==2.18
pycrypto==2.6.1
pycryptodomex==3.4.6
pyOpenSSL==17.1.0
pysaml2==4.4.0
python-dateutil==2.6.1
pytz==2017.2
repoze.who==2.3
requests==2.18.1
six==1.10.0
urllib3==1.21.1
WebOb==1.7.3
Werkzeug==0.12.2
zope.interface==4.4.2
