<html>
<head>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="/static/webclient.js"></script>
	<script>
		var user_token = '{{ token }}';
	</script>
</head>
<body>
	<h1>KAI-Basen WebSSO PoC</h1>
	<span>Dette er en forside.
	Tryk på knappen for at hente noget data fra KAI-Servicen. Hvis du ikke er logget ind vil du blive automatisk viderestillet til IdP'en for login.
	</span>
	<span id="harToken"></span>
	<br/></br>
	<button id='hentDataButton'>Hent noget data</button>
	<br/>
	<div id="ResponseWindow">
	</div>
</body>
</html>